# Android ignores
gen/
bin/
target/
local.properties
app/build/intermediates/
res/xml/
build/
debug/
release/
.gradle/

#IntelliJ
.idea/
out/production/
out/test/
*.iws
*.ipr

# Other
.metadata
.svn/
